body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    color: #5b5ea6;
}

#job-list-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #5b5ea6;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
}

footer a {
    color: #5b5ea6;
    text-decoration: none;
}
